body > section{
    margin-top: 110px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.title img{
    width: 300px;
}

h1{
    text-align: left;
    font-weight: bold;
    font-size: 50px;
}

.title p{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    padding: 0 15px;
}

.title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.title .left{
    width: 300px;
}

.title .right{
    width: 90%;
}

h2,h3{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.movies{
    width: 100%;
    min-height: 100vh;
    margin-bottom: 60px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.movies img{
    width: 400px;
    border-radius: 6px;
}

.movie{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 20px;
}

.movie p{
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 35px;
    margin-left: 40px;
}

.stars img{
    width: 60px;
}

img.favorite{
    width: 100px;
    align-self: flex-start;
    margin-left: 30px;
    cursor: pointer;
}

button{
    max-width: fit-content !important;
}

@media screen and (max-width:430px) {
    .title{
        flex-direction: column;
    }

    body,section{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .movie{
        max-width: 400px !important;
    }

    .movie > img:first-child{
        width: 250px !important;
    }

    body > section{
        margin-top: 150px !important;
    }
}