body > section{
    margin-top: 110px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 60px !important;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

.part1{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.part1 > *{
    width: 40%;
}

.part1 .right{
    width: 90%;
    font-size: 55px;
}

.part2{
    width: 100%;
}

.part2 form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 30px;
}

label,#prix{
    font-weight: bold;
    font-size: 55px;
}

.part2 .input-field{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

#numConf{
    font-weight: 500;
    font-size: 35px;
    color: var(--footer-color1);
}

.range input{
    height: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    max-width: 170px;
}

.range{
    display: flex;
    align-items: center;
}

.range button{
    height: 90px;
    width: 90px;
}

@media screen and (max-width:1024px) {
    .part1{
        justify-content: space-between !important;
        padding: 0;
        width: 100% !important;
        gap: 10px;
    }

    .part1 p{
        font-size: 30px;
        text-align: center;
    }

    .part1 img{
        margin-left: 15px;
    }
}

@media screen and (max-width:430px) {
    header{
        width: 100% !important;
        max-width: 100% !important;
    }

    .part1{
        flex-direction: column;
    }

    .input-field{
        flex-direction: column;
    }

    h1{
        font-size: 45px;
    }

    body > section{
        margin-top: 150px;
    }

    .part1 .left{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .part1 .right{
        width: 100%;
        text-align: center;
    }

    #numConf{
        font-size: 50px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width:350px) {
   .part1 img{
        width: 250px !important;
   }
}

@media screen and (max-width:550px) {
    .part1 img{
         width: 250px !important;
    }

    .input-field{
        flex-direction: column;
    }

    .right h2{
        font-size: 0.8em;
        text-align: center;
    }

    .right p{
        font-size: 20px;
    }

    .right{
        width: auto !important;
    }

    .left{
        width: 300px !important;
    }
}