footer{
    width: 100%;
}

footer .links,footer .countries{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

footer .links{
    background-color: var(--footer-color1);
}
footer a{
    text-decoration: none;
    color: black;   
}
footer .countries{
    background-color: var(--footer-color2);
    justify-content: space-evenly;
}

@media screen and (max-width:430px) {
    footer .links{
        flex-direction: column;
        gap: 10px;
    }

    footer{
        width: 100% !important;
        max-width: 100% !important;
    }

    footer > div{
        width: 100% !important;
    }
}