header{
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px black;
}

header > div{
    width: 50%;
    height: 100% !important;
}

header .right img{
    width: 40px;
}

header a{
    text-decoration: none;
}

header a img{
    transition: all 0.2s ease-in-out;
}

header a:hover img{
    transform: scale(1.2) !important;
}

header .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width:430px) {
    header{
        max-width: 100vw;
        flex-direction: column;
        height: fit-content;
        min-height: fit-content !important;
        justify-content: flex-start;
        align-items: center;
    }

    header > div{
        width: 100% !important;
    }

    header .right{
        justify-content: center;
    }
}