section{
    margin-top: 110px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

.buttons{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .buttons{
        flex-direction: column;
        min-height: 200px;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        width: 100% !important;
    }

    .buttons a{
        width: 80% !important;
    }

    .buttons button{
        width: 100%;
    }
}

@media screen and (max-width:440px) {
    h1{
        font-size: 60px !important;
    }

    .buttons{
        padding: 0;
    }

    button,a{
        font-size: 20px;
    }
}