section{
    margin-top: 110px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 60px !important;
}

body{
    width: 100% !important;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 120px;
}

label{
    cursor: pointer;
    font-weight: 400;
    font-size: 50px;
}

.input-field{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    padding-left: 60px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

form input{
    font-weight: normal;
    font-size: 40px;
    padding-left: 10px;
    min-width: 800px;
    border-radius: 10px;
    border: none;outline: none;
}

@media screen and (max-width:430px) {
    h1,label{
        font-weight: 500;
        font-size: 35px;
        text-align: center;
    }

    input{
        width: 100px !important;
        font-size: 18px !important;
        max-width: 100% !important;
    }

    .input-field input{
        max-width: 90% !important;
        margin: 0 !important;
    }

    footer{
        width: 100% !important;
        max-width: 100% !important;
    }

    footer > div{
        width: 100% !important;
    }
}


@media screen and (max-width:1024px) {

    body{
        width: 100% !important;
    }

    .input-field{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 0;
    }

    .input-field label{
        align-self: flex-start;
        padding: 0;
        margin-left: 20px;
    }

    .input-field input{
        min-width: 60% !important;
        margin: 0 !important;
        font-size: 22px !important;
    }

    section > *:not(h1){
        padding: 0 40px;
    }

    footer{
        width: 100% !important;
    }

    form{
        margin: 0;
        padding: 0 !important;
    }

    section{
        justify-content: center !important;
        width: 100% !important;
    }

    h1{
        justify-self: flex-start;
    }
}

@media screen and (max-width:540px) {
    h1{
        font-size: 60px;
    }
}
@media screen and (max-width:412px) {
    h1{
        font-size: 60px;
    }
}