body > section{
    margin-top: 110px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

h2{
    font-weight: normal;
    font-size: 65px;
    padding: 10px 30px;
    text-align: center;
    color: var(--confirm-color);
}