body > section{
    margin-top: 110px;
    width: 100% !important;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 60px !important;
}

body{
    width: 100vw !important;
    overflow-x: hidden !important;
}

h1,h2{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

h2{
    text-align: left !important;
    margin-left: 4%;
}

.buttons{
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.buttons button{
    color: white;
}

.movies{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10px;
}

.movie{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.movie > img:first-child{
    width: 400px;
}

h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.movie p{
    text-align: left;
    align-self: flex-start;
    width: 100%;
    font-size: 35px;
    font-weight: 500;
}

.movie .stars{
    display: flex;
    justify-content: center;
}

.stars img{
    width: 60px;
}

.movie .favorite{
    width: 100px;
    align-self: flex-start;
}

#plus,#minus{
    width: 100px;
    height: 100px;
}

.quantity{
    height: 100px !important;
    display: flex;
    justify-content: center;
    gap: 0;
}

.quantity input{
    height: 100% !important;
    font-size: 80px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

@media screen and (max-width:430px) {
    header{
        width: 100%;
        max-width: 100% !important;
    }

    body > section{
        margin-top: 150px;
    }

    h2{
        font-size: 40px;
    }

    .movie > img:first-child{
        width: 350px !important;
    }

    .movies{
        margin: 0 !important;
    }

    .buttons{
        padding: 0;
        gap: 0;
        justify-content: center !important;
        gap: 30px;
    }

    .buttons button{
        font-size: 25px !important;
    }
}

@media screen and (max-width:440px){
    button{
        font-size: 25px !important;
    }
}

@media screen and (max-width:500px){
    .movie p{
        text-align:center;
    }
}
