body > section{
    margin-top: 110px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 60px !important;
}

h1{
    text-align: center;
    font-size: 120px;
    font-weight: bold;
}

h2,h3,section a{
    font-weight: normal;
    font-size: 90px;
}

section a{
    text-decoration: none;
    color: red;
}
section a:hover{
    text-decoration: underline;
}

@media screen and (max-width:430px) {
    header{
        width: 100%;
        max-width: 100% !important;
    }

    h1{
        text-align: center;
        font-size: 75px;
    }

    section{
        align-items: center;
        width: 100% !important;
    }

    h2,h3,section a{
        font-size: 35px;
        text-align: center;
    }

    body > section{
        margin-top: 150px;
    }
}

@media screen and (max-width:550px) {
    h2{
        font-size: 65px !important;
    }
}
@media screen and (max-width:400px) {
    h2{
        font-size: 30px !important;
    }
}
@media screen and (max-width:440px) {
    h2{
        font-size: 30px !important;
    }

    h1{
        font-size: 75px !important;
    }

    section a{
        font-size: 65px !important;
    }
}
@media screen and (max-width:675px) {
    h2{
        font-size: 60px !important;
    }
}
@media screen and (max-width:460px) {
    h2{
        font-size: 50px !important;
    }
}
@media screen and (max-width:380px) {
    h2{
        font-size: 35px !important;
    }
}